.h1 {
  text-align: center;
  margin: 0 auto;
}
.iframe-container {
  margin: 0 auto;
  text-align: center;
}

.navbar-brand {
  font-size: 65px;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
}

.responsive {
  max-width: 100%;
}
